<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Servlet 2.4 Examples</display-name>
    <description>
        Servlet 2.4 Examples.
    </description>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>com.example.myapp.Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.example.myapp.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.example.myapp.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Catalog</servlet-name>
        <servlet-class>com.example.myapp.Catalog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>com.example.myapp.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.example.myapp.Admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Catalog</servlet-name>
        <url-pattern>/Catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>